In [71]:
import pandas as pd
import numpy as np
import math

Read the book sent over by Westley and Stephanie

In [72]:
dat_orig = pd.read_excel("20190624_sales_fcst.xlsx", header = 2)
dat_orig.fillna(method='ffill', inplace=True)
dat_orig = dat_orig.filter(regex=r'(Wk.|Unnamed: 4|Report in thousands|Unnamed: 0)')
dat_orig.head(50)

,Unnamed: 0,Report in thousands,Report in thousands.1,Unnamed: 4,Feb Wk. 1 2019,Feb Wk. 2 2019,Feb Wk. 3 2019,Feb Wk. 4 2019,Mar Wk. 5 2019,Mar Wk. 6 2019,...,Nov Wk. 43 2019,Dec Wk. 44 2019,Dec Wk. 45 2019,Dec Wk. 46 2019,Dec Wk. 47 2019,Dec Wk. 48 2019,Jan Wk. 49 2019,Jan Wk. 50 2019,Jan Wk. 51 2019,Jan Wk. 52 2019
0,TOTAL,Sls Total Rtl,Total Company Operating Sales,Actual (TY) / Forecast,9.566299e+06,8.410535e+06,8.313224e+06,1.369493e+07,1.100258e+07,1.383237e+07,...,1.854832e+07,2.145241e+07,1.504820e+07,1.283804e+07,9.994588e+06,9.023529e+06,1.136200e+07,7.462384e+06,8.216790e+06,8.711446e+06
1,TOTAL,Sls Total Rtl,Total Company Operating Sales,Forecast,1.042099e+07,8.951728e+06,8.743079e+06,1.439291e+07,1.362358e+07,1.312598e+07,...,1.854832e+07,2.145241e+07,1.504820e+07,1.283804e+07,9.994588e+06,9.023529e+06,1.136200e+07,7.462384e+06,8.216790e+06,8.711446e+06
2,TOTAL,Sls Total Rtl,Total Company Operating Sales,Plan,1.095530e+07,9.652871e+06,9.992850e+06,1.377227e+07,1.437545e+07,1.487448e+07,...,1.897964e+07,2.170684e+07,1.541663e+07,1.347188e+07,1.012432e+07,9.379631e+06,7.845365e+06,1.163610e+07,9.331028e+06,7.787172e+06
3,TOTAL,Sls Total Rtl,Total Company Operating Sales,Var to Plan,-1.389004e+06,-1.242336e+06,-1.679626e+06,-7.734574e+04,-3.372870e+06,-1.042113e+06,...,-4.313250e+05,-2.544350e+05,-3.684284e+05,-6.338377e+05,-1.297361e+05,-3.561021e+05,3.516633e+06,-4.173716e+06,-1.114238e+06,9.242739e+05
4,TOTAL,Sls Total Rtl,Total Company Operating Sales,Target,9.566299e+06,8.410535e+06,8.313224e+06,1.369493e+07,1.100258e+07,1.383237e+07,...,1.866174e+07,2.155443e+07,1.513883e+07,1.292172e+07,1.005694e+07,9.081421e+06,1.143024e+07,7.496867e+06,8.206244e+06,9.148089e+06
5,TOTAL,Sls Total Rtl,Total Company Operating Sales,LY,8.206939e+06,9.840579e+06,1.014325e+07,1.229016e+07,1.518833e+07,1.338827e+07,...,2.056473e+07,1.440198e+07,1.315610e+07,1.254588e+07,1.037772e+07,8.978334e+06,1.102267e+07,7.478557e+06,7.597383e+06,7.402133e+06
6,TOTAL,Sls Total Rtl,Total Company Operating Sales,LLY,9.110087e+06,9.401258e+06,9.277343e+06,1.279341e+07,1.451657e+07,1.347729e+07,...,1.985019e+07,1.410739e+07,1.322949e+07,1.229943e+07,1.043165e+07,1.115279e+07,1.049968e+07,1.048615e+07,6.264101e+06,7.491346e+06
7,TOTAL,Sls Total Rtl,Total Company Operating Sales,Actual to Plan %,-1.267882e-01,-1.287012e-01,-1.680828e-01,-5.616047e-03,-2.346271e-01,-7.006046e-02,...,-2.272566e-02,-1.172142e-02,-2.389812e-02,-4.704895e-02,-1.281430e-02,-3.796547e-02,4.482435e-01,-3.586868e-01,-1.194122e-01,1.186919e-01
8,TOTAL,Sls Total Rtl,Total Company Operating Sales,Actual to LY %,1.656354e-01,-1.453211e-01,-1.804184e-01,1.143004e-01,-2.755903e-01,3.317060e-02,...,-9.805173e-02,4.895459e-01,1.438195e-01,2.328765e-02,-3.691868e-02,5.033750e-03,3.078496e-02,-2.162558e-03,8.152903e-02,1.768833e-01
9,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Actual (TY) / Forecast,8.210753e+06,6.626589e+06,5.647718e+06,1.101918e+07,9.178044e+06,1.195891e+07,...,1.630414e+07,1.883665e+07,1.282273e+07,8.734037e+06,5.064751e+06,4.343581e+06,7.465592e+06,4.397840e+06,4.006535e+06,6.753756e+06
10,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Forecast,9.215254e+06,6.995028e+06,6.270844e+06,1.218196e+07,1.132773e+07,1.095171e+07,...,1.630414e+07,1.883665e+07,1.282273e+07,8.734037e+06,5.064751e+06,4.343581e+06,7.465592e+06,4.397840e+06,4.006535e+06,6.753756e+06
11,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Plan,9.875300e+06,7.685685e+06,6.936044e+06,1.153150e+07,1.262861e+07,1.266986e+07,...,1.675655e+07,1.908734e+07,1.313308e+07,9.267899e+06,5.185585e+06,4.642394e+06,4.445908e+06,7.740713e+06,5.893550e+06,6.347530e+06
12,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Var to Plan,-1.664547e+06,-1.059096e+06,-1.288326e+06,-5.123124e+05,-3.450563e+06,-7.109435e+05,...,-4.524062e+05,-2.506860e+05,-3.103474e+05,-5.338622e+05,-1.208337e+05,-2.988128e+05,3.019684e+06,-3.342873e+06,-1.887015e+06,4.062258e+05
13,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Target,8.210753e+06,6.626589e+06,5.647718e+06,1.101918e+07,9.178044e+06,1.195891e+07,...,1.640812e+07,1.893107e+07,1.290260e+07,8.793872e+06,5.102442e+06,4.378122e+06,7.506369e+06,4.412028e+06,4.053358e+06,7.371724e+06
14,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,LY,7.078448e+06,7.552239e+06,5.753325e+06,9.774034e+06,1.286537e+07,1.055832e+07,...,1.803556e+07,1.236446e+07,1.109752e+07,8.510453e+06,5.139640e+06,4.453330e+06,7.219558e+06,4.199856e+06,3.665989e+06,5.819792e+06
15,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,LLY,7.649255e+06,8.209455e+06,6.850865e+06,1.090631e+07,1.259017e+07,1.008501e+07,...,1.714207e+07,1.196271e+07,1.073711e+07,7.252589e+06,3.522832e+06,3.177670e+06,6.221453e+06,5.310633e+06,3.850966e+06,6.565682e+06
16,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Actual to Plan %,-1.685566e-01,-1.378011e-01,-1.857437e-01,-4.442723e-02,-2.732338e-01,-5.611298e-02,...,-2.699877e-02,-1.313363e-02,-2.363097e-02,-5.760337e-02,-2.330185e-02,-6.436610e-02,6.792052e-01,-4.318560e-01,-3.201830e-01,6.399746e-02
17,TOTAL,Sls Total FP Rtl,Company Full Price Operating Sales,Actual to LY %,1.599651e-01,-1.225663e-01,-1.835593e-02,1.273937e-01,-2.866086e-01,1.326532e-01,...,-9.600032e-02,5.234517e-01,1.554599e-01,2.627163e-02,-1.457084e-02,-2.464423e-02,3.407886e-02,4.714079e-02,9.289357e-02,1.604806e-01
18,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Actual (TY) / Forecast,1.355546e+06,1.783946e+06,2.665506e+06,2.675744e+06,1.824532e+06,1.873451e+06,...,2.244179e+06,2.615752e+06,2.225465e+06,4.104002e+06,4.929837e+06,4.679948e+06,3.896407e+06,3.064544e+06,4.210254e+06,1.957690e+06
19,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Forecast,1.205735e+06,1.956700e+06,2.472235e+06,2.210948e+06,2.295854e+06,2.174269e+06,...,2.244179e+06,2.615752e+06,2.225465e+06,4.104002e+06,4.929837e+06,4.679948e+06,3.896407e+06,3.064544e+06,4.210254e+06,1.957690e+06
20,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Plan,1.080002e+06,1.967186e+06,3.056806e+06,2.240777e+06,1.746840e+06,2.204620e+06,...,2.223098e+06,2.619501e+06,2.283546e+06,4.203978e+06,4.938739e+06,4.737237e+06,3.399457e+06,3.895387e+06,3.437478e+06,1.439642e+06
21,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Var to Plan,2.755439e+05,-1.832398e+05,-3.913001e+05,4.349667e+05,7.769262e+04,-3.311694e+05,...,2.108117e+04,-3.749015e+03,-5.808102e+04,-9.997553e+04,-8.902364e+03,-5.728933e+04,4.969496e+05,-8.308429e+05,7.727764e+05,5.180480e+05
22,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Target,1.355546e+06,1.783946e+06,2.665506e+06,2.675744e+06,1.824532e+06,1.873451e+06,...,2.253618e+06,2.623362e+06,2.236228e+06,4.127846e+06,4.954500e+06,4.703298e+06,3.923872e+06,3.084838e+06,4.152886e+06,1.776365e+06
23,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,LY,1.128491e+06,2.288340e+06,4.389928e+06,2.516124e+06,2.322964e+06,2.829949e+06,...,2.529167e+06,2.037519e+06,2.058581e+06,4.035422e+06,5.238079e+06,4.525004e+06,3.803109e+06,3.278701e+06,3.931394e+06,1.582341e+06
24,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,LLY,1.460832e+06,1.191803e+06,2.426478e+06,1.887103e+06,1.926397e+06,3.392279e+06,...,2.708127e+06,2.144678e+06,2.492384e+06,5.046843e+06,6.908821e+06,7.975119e+06,4.278224e+06,5.175513e+06,2.413135e+06,9.256635e+05
25,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Actual to Plan %,2.551327e-01,-9.314817e-02,-1.280095e-01,1.941142e-01,4.447610e-02,-1.502161e-01,...,9.482788e-03,-1.431194e-03,-2.543457e-02,-2.378117e-02,-1.802558e-03,-1.209340e-02,1.461850e-01,-2.132889e-01,2.248091e-01,3.598450e-01
26,TOTAL,Sls Total MD Rtl,Company Markdown Operating Sales,Actual to LY %,2.012026e-01,-2.204190e-01,-3.928133e-01,6.343880e-02,-2.145671e-01,-3.379913e-01,...,-1.126804e-01,2.837924e-01,8.106772e-02,1.699462e-02,-5.884654e-02,3.424164e-02,2.453204e-02,-6.531772e-02,7.093170e-02,2.372116e-01
27,TOTAL,Sls Total U,Total Company Sales Units,Actual (TY) / Forecast,2.123440e+05,1.938920e+05,1.941310e+05,3.118900e+05,2.468460e+05,3.119920e+05,...,4.175902e+05,4.996414e+05,3.659741e+05,2.959685e+05,2.521904e+05,2.506057e+05,3.028364e+05,1.995527e+05,2.434654e+05,1.775315e+05
28,TOTAL,Sls Total U,Total Company Sales Units,Forecast,2.314792e+05,2.057523e+05,1.917579e+05,3.232846e+05,2.982421e+05,3.039829e+05,...,4.175902e+05,4.996414e+05,3.659741e+05,2.959685e+05,2.521904e+05,2.506057e+05,3.028364e+05,1.995527e+05,2.434654e+05,1.775315e+05
29,TOTAL,Sls Total U,Total Company Sales Units,Plan,2.367388e+05,2.240017e+05,2.218196e+05,2.801287e+05,2.976912e+05,3.353183e+05,...,4.306245e+05,5.353444e+05,3.749694e+05,3.079899e+05,2.550332e+05,2.633764e+05,2.202848e+05,3.291780e+05,2.564201e+05,1.432075e+05
30,TOTAL,Sls Total U,Total Company Sales Units,Var to Plan,-2.439477e+04,-3.010968e+04,-2.768864e+04,3.176133e+04,-5.084521e+04,-2.332628e+04,...,-1.303429e+04,-3.570301e+04,-8.995281e+03,-1.202135e+04,-2.842868e+03,-1.277077e+04,8.255159e+04,-1.296253e+05,-1.295472e+04,3.432394e+04
31,TOTAL,Sls Total U,Total Company Sales Units,Target,2.123440e+05,1.938920e+05,1.941310e+05,3.118900e+05,2.468460e+05,3.119920e+05,...,4.300887e+05,5.434430e+05,3.845996e+05,3.075912e+05,2.580062e+05,2.608308e+05,3.168906e+05,2.093692e+05,2.505861e+05,1.881585e+05
32,TOTAL,Sls Total U,Total Company Sales Units,LY,1.574730e+05,2.219320e+05,2.661560e+05,2.387230e+05,3.380320e+05,3.235420e+05,...,5.154860e+05,3.541300e+05,3.349910e+05,2.942120e+05,2.677080e+05,2.506700e+05,3.046550e+05,2.140220e+05,2.307270e+05,1.483730e+05
33,TOTAL,Sls Total U,Total Company Sales Units,LLY,1.950510e+05,1.891690e+05,1.843710e+05,2.321470e+05,3.036000e+05,3.045910e+05,...,4.982040e+05,3.532850e+05,3.394970e+05,3.017030e+05,3.123500e+05,3.837710e+05,2.963080e+05,3.306700e+05,1.654240e+05,1.302190e+05
34,TOTAL,Sls Total U,Total Company Sales Units,Actual to Plan %,-1.030451e-01,-1.344172e-01,-1.248250e-01,1.133812e-01,-1.707985e-01,-6.956459e-02,...,-3.026834e-02,-6.669166e-02,-2.398937e-02,-3.903165e-02,-1.114705e-02,-4.848867e-02,3.747494e-01,-3.937849e-01,-5.052147e-02,2.396797e-01
35,TOTAL,Sls Total U,Total Company Sales Units,Actual to LY %,3.484470e-01,-1.263450e-01,-2.706120e-01,3.064933e-01,-2.697555e-01,-3.569861e-02,...,-1.899097e-01,4.108983e-01,9.248949e-02,5.970342e-03,-5.796483e-02,-2.566523e-04,-5.969432e-03,-6.760663e-02,5.520983e-02,1.965214e-01
36,TOTAL,Sls Total FP U,Company Full Price Sales Units,Actual (TY) / Forecast,1.723210e+05,1.308180e+05,1.026300e+05,2.323190e+05,1.903410e+05,2.517980e+05,...,3.447486e+05,4.074668e+05,2.898189e+05,1.739820e+05,7.699994e+04,6.611441e+04,1.480694e+05,7.319753e+04,5.950388e+04,1.064146e+05
37,TOTAL,Sls Total FP U,Company Full Price Sales Units,Forecast,1.949168e+05,1.364448e+05,1.077933e+05,2.576817e+05,2.262409e+05,2.332550e+05,...,3.447486e+05,4.074668e+05,2.898189e+05,1.739820e+05,7.699994e+04,6.611441e+04,1.480694e+05,7.319753e+04,5.950388e+04,1.064146e+05
38,TOTAL,Sls Total FP U,Company Full Price Sales Units,Plan,2.038200e+05,1.539710e+05,1.179376e+05,2.111872e+05,2.491515e+05,2.642656e+05,...,3.596419e+05,4.396626e+05,2.989439e+05,1.831640e+05,8.158975e+04,7.281344e+04,7.426821e+04,1.635150e+05,1.065391e+05,1.022911e+05
39,TOTAL,Sls Total FP U,Company Full Price Sales Units,Var to Plan,-3.149896e+04,-2.315296e+04,-1.530757e+04,2.113182e+04,-5.881051e+04,-1.246765e+04,...,-1.489328e+04,-3.219580e+04,-9.124991e+03,-9.182048e+03,-4.589813e+03,-6.699028e+03,7.380120e+04,-9.031750e+04,-4.703525e+04,4.123443e+03
40,TOTAL,Sls Total FP U,Company Full Price Sales Units,Target,1.723210e+05,1.308180e+05,1.026300e+05,2.323190e+05,1.903410e+05,2.517980e+05,...,3.552207e+05,4.457473e+05,3.083959e+05,1.845582e+05,8.325195e+04,7.054150e+04,1.577793e+05,7.753490e+04,6.527887e+04,1.241994e+05
41,TOTAL,Sls Total FP U,Company Full Price Sales Units,LY,1.312930e+05,1.415730e+05,9.128800e+04,1.616120e+05,2.684850e+05,2.171320e+05,...,4.203610e+05,2.841390e+05,2.630930e+05,1.697260e+05,8.243400e+04,7.195100e+04,1.530690e+05,7.513000e+04,5.777300e+04,9.247900e+04
42,TOTAL,Sls Total FP U,Company Full Price Sales Units,LLY,1.521890e+05,1.547480e+05,1.151260e+05,1.790960e+05,2.470700e+05,1.816930e+05,...,4.045870e+05,2.828340e+05,2.627020e+05,1.422250e+05,4.912200e+04,4.446400e+04,1.130600e+05,9.442100e+04,5.886100e+04,1.055280e+05
43,TOTAL,Sls Total FP U,Company Full Price Sales Units,Actual to Plan %,-1.545431e-01,-1.503723e-01,-1.297938e-01,1.000620e-01,-2.360432e-01,-4.717846e-02,...,-4.141141e-02,-7.322843e-02,-3.052409e-02,-5.013019e-02,-5.625477e-02,-9.200263e-02,9.937118e-01,-5.523498e-01,-4.414833e-01,4.031085e-02
44,TOTAL,Sls Total FP U,Company Full Price Sales Units,Actual to LY %,3.124919e-01,-7.596788e-02,1.242442e-01,4.375108e-01,-2.910554e-01,1.596540e-01,...,-1.798749e-01,4.340405e-01,1.015835e-01,2.507564e-02,-6.592015e-02,-8.111896e-02,-3.266231e-02,-2.572168e-02,2.996007e-02,1.506892e-01
45,TOTAL,Sls Total MD U,Company Markdown Sales Units,Actual (TY) / Forecast,4.002300e+04,6.307400e+04,9.150100e+04,7.957100e+04,5.650500e+04,6.019400e+04,...,7.284158e+04,9.217458e+04,7.615525e+04,1.219866e+05,1.751904e+05,1.844913e+05,1.547670e+05,1.263552e+05,1.839615e+05,7.111688e+04
46,TOTAL,Sls Total MD U,Company Markdown Sales Units,Forecast,3.656237e+04,6.930753e+04,8.396458e+04,6.560291e+04,7.200115e+04,7.072786e+04,...,7.284158e+04,9.217458e+04,7.615525e+04,1.219866e+05,1.751904e+05,1.844913e+05,1.547670e+05,1.263552e+05,1.839615e+05,7.111688e+04
47,TOTAL,Sls Total MD U,Company Markdown Sales Units,Plan,3.291880e+04,7.003072e+04,1.038821e+05,6.894149e+04,4.853970e+04,7.105263e+04,...,7.098259e+04,9.568178e+04,7.602553e+04,1.248259e+05,1.734435e+05,1.905630e+05,1.460166e+05,1.656630e+05,1.498810e+05,4.091639e+04
48,TOTAL,Sls Total MD U,Company Markdown Sales Units,Var to Plan,7.104196e+03,-6.956717e+03,-1.238107e+04,1.062951e+04,7.965298e+03,-1.085863e+04,...,1.858987e+03,-3.507203e+03,1.297106e+02,-2.839305e+03,1.746945e+03,-6.071745e+03,8.750392e+03,-3.930782e+04,3.408053e+04,3.020049e+04
49,TOTAL,Sls Total MD U,Company Markdown Sales Units,Target,4.002300e+04,6.307400e+04,9.150100e+04,7.957100e+04,5.650500e+04,6.019400e+04,...,7.486806e+04,9.769572e+04,7.620373e+04,1.230330e+05,1.747543e+05,1.902893e+05,1.591112e+05,1.318343e+05,1.853072e+05,6.395913e+04

In [73]:
h1 = [1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6]
h2 = [x+1 for x in h1]

months = h1 + h2
weeks = list(range(1, 53))

month_map = pd.DataFrame()
month_map['FISCAL_MO'] = months
month_map['FISCAL_WK'] = weeks

In [80]:
def format_sales(df):
    
    ids = list(df.iloc[:, np.r_[0:1, 2:4]].columns)
    vals = list(df.iloc[:,4:].columns)
    
    melt = pd.melt(df, id_vars = ids, value_vars = vals, var_name = 'FISCAL_WK', value_name = 'SALES')
    
    melt.rename(columns={'Unnamed: 0':'Channel',
                      'Report in thousands.1': 'sales_segment',
                          'Unnamed: 4':'summation_type'
                          }, 
                 inplace=True)
    
    sub = melt[melt['summation_type'] == "Actual (TY) / Forecast"]
    sub = sub[sub['sales_segment'].isin(['Direct Net Sales', 'Retail Sales (Stores & Concierge)'])]
    sub[['Channel', 'SALES']].groupby('Channel').agg('sum')
    
    sub.FISCAL_WK = sub.FISCAL_WK.str[8:]
    sub.FISCAL_WK = sub.FISCAL_WK.str[:2]
    sub.FISCAL_WK = sub.FISCAL_WK.str.strip()
    
    h1 = [1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6]
    h2 = [x+6 for x in h1]

    months = h1 + h2
    weeks = list(range(1, 53))
    qtrs = [math.ceil(x / 3) for x in months]

    month_map = pd.DataFrame()
    month_map['FISCAL_MO'] = months
    month_map['FISCAL_WK'] = weeks
    month_map['FISCAL_QTR'] = qtrs
    
    sub.FISCAL_WK = sub.FISCAL_WK.astype(str).astype(int)
    sales_fcst = pd.merge(sub, month_map, on='FISCAL_WK', how='inner')
    fcst = sales_fcst.query('summation_type == "Actual (TY) / Forecast"')
    
    fcst.Channel = np.where(fcst['Channel']=='Direct', 'D', 'R')
    
    return fcst

In [81]:
fcst = format_sales(dat_orig)
fcst.head()

,Channel,sales_segment,summation_type,FISCAL_WK,SALES,FISCAL_MO,FISCAL_QTR
0,R,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,1,5476461.31,1,1
1,D,Direct Net Sales,Actual (TY) / Forecast,1,4089837.30,1,1
2,R,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,2,4662842.01,1,1
3,D,Direct Net Sales,Actual (TY) / Forecast,2,3747693.15,1,1
4,R,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,3,5506713.02,1,1

In [82]:
fcst.SALES.sum()

680155158.749575

In [83]:
qtr_data = pd.read_csv('quarterly_sales_to_custs.csv').sort_values('Channel')
qtr_data.head()

,FISCAL_YR,Channel,total_net_sales,total_custs,FISCAL_QTR,recency_net_sales_total,recency_cust_total,Recency,chan_rec_sales_pct,chan_rec_cust_pct,chan_rec_seg_sales,chan_rec__seg_custs,Customer_Type,Segment,chan_rec_sales,chan_rec__custs,sales_pct,cust_pct,d_p_cust
0,2018,D,5.721810e+07,401995,1,3.675641e+06,36585,0,0.064239,0.091009,3.297407e+06,31814,NTB_1,1,3.877800e+06,34250,0.850329,0.928876,103.646405
39,2018,D,5.933927e+07,447606,4,6.467598e+06,67558,2,0.108994,0.150932,1.077873e+06,5712,React__Omni,_Omni,6.856067e+06,63402,0.157214,0.090092,188.703201
38,2018,D,5.933927e+07,447606,4,6.467598e+06,67558,2,0.108994,0.150932,5.778195e+06,57690,React_1,1,6.856067e+06,63402,0.842786,0.909908,100.159382
37,2018,D,5.602950e+07,377032,3,6.236244e+06,55832,2,0.111303,0.148083,1.010387e+06,4236,React__Omni,_Omni,6.553415e+06,52434,0.154177,0.080787,238.523885
36,2018,D,5.602950e+07,377032,3,6.236244e+06,55832,2,0.111303,0.148083,5.543028e+06,48198,React_1,1,6.553415e+06,52434,0.845823,0.919213,115.005353

In [84]:
fcst.head()

,Channel,sales_segment,summation_type,FISCAL_WK,SALES,FISCAL_MO,FISCAL_QTR
0,R,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,1,5476461.31,1,1
1,D,Direct Net Sales,Actual (TY) / Forecast,1,4089837.30,1,1
2,R,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,2,4662842.01,1,1
3,D,Direct Net Sales,Actual (TY) / Forecast,2,3747693.15,1,1
4,R,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,3,5506713.02,1,1

In [87]:
direct_total = fcst[['Channel', 'SALES', 'FISCAL_QTR']].query('Channel == "D"').groupby(['FISCAL_QTR', 'Channel']).agg('sum').reset_index()
retail_total = fcst[['Channel', 'SALES', 'FISCAL_QTR']].query('Channel == "R"').groupby(['FISCAL_QTR', 'Channel']).agg('sum').reset_index()
qtr_sales = pd.concat([direct_total, retail_total])

In [88]:
qtr_sales.SALES.sum()

680155158.7495749

In [95]:
qtr_sales = qtr_sales.rename(index=str, columns={"SALES": "channel_qtr_sales"})

In [96]:
qtr_dat = pd.merge(qtr_data, qtr_sales, on = ['FISCAL_QTR', 'Channel'], how = 'inner')
qtr_dat.head()

,FISCAL_YR,Channel,total_net_sales,total_custs,FISCAL_QTR,recency_net_sales_total,recency_cust_total,Recency,chan_rec_sales_pct,chan_rec_cust_pct,chan_rec_seg_sales,chan_rec__seg_custs,Customer_Type,Segment,chan_rec_sales,chan_rec__custs,sales_pct,cust_pct,d_p_cust,channel_qtr_sales
0,2018,D,5.721810e+07,401995,1,3.675641e+06,36585,0,0.064239,0.091009,3.297407e+06,31814,NTB_1,1,3.877800e+06,34250,0.850329,0.928876,103.646405,70927548.79
1,2018,D,5.721810e+07,401995,1,6.414162e+06,60238,2,0.112100,0.149848,1.074583e+06,4675,React__Omni,_Omni,6.781020e+06,56169,0.158469,0.083231,229.857276,70927548.79
2,2018,D,5.721810e+07,401995,1,6.414162e+06,60238,2,0.112100,0.149848,5.706438e+06,51494,React_1,1,6.781020e+06,56169,0.841531,0.916769,110.817524,70927548.79
3,2018,D,5.721810e+07,401995,1,4.712819e+07,305170,1,0.823659,0.759139,1.807705e+07,52128,Existing__Omni,_Omni,5.305491e+07,262268,0.340723,0.198759,346.781892,70927548.79
4,2018,D,5.721810e+07,401995,1,4.712819e+07,305170,1,0.823659,0.759139,3.497786e+07,210140,Existing_1,1,5.305491e+07,262268,0.659277,0.801242,166.450267,70927548.79

In [97]:
qtr_dat['rec_seg_exp_sales'] = qtr_dat.sales_pct * qtr_dat.channel_qtr_sales * qtr_dat.chan_rec_sales_pct
qtr_dat.head()

,FISCAL_YR,Channel,total_net_sales,total_custs,FISCAL_QTR,recency_net_sales_total,recency_cust_total,Recency,chan_rec_sales_pct,chan_rec_cust_pct,...,chan_rec__seg_custs,Customer_Type,Segment,chan_rec_sales,chan_rec__custs,sales_pct,cust_pct,d_p_cust,channel_qtr_sales,rec_seg_exp_sales
0,2018,D,5.721810e+07,401995,1,3.675641e+06,36585,0,0.064239,0.091009,...,31814,NTB_1,1,3.877800e+06,34250,0.850329,0.928876,103.646405,70927548.79,3.874375e+06
1,2018,D,5.721810e+07,401995,1,6.414162e+06,60238,2,0.112100,0.149848,...,4675,React__Omni,_Omni,6.781020e+06,56169,0.158469,0.083231,229.857276,70927548.79,1.259988e+06
2,2018,D,5.721810e+07,401995,1,6.414162e+06,60238,2,0.112100,0.149848,...,51494,React_1,1,6.781020e+06,56169,0.841531,0.916769,110.817524,70927548.79,6.691007e+06
3,2018,D,5.721810e+07,401995,1,4.712819e+07,305170,1,0.823659,0.759139,...,52128,Existing__Omni,_Omni,5.305491e+07,262268,0.340723,0.198759,346.781892,70927548.79,1.990510e+07
4,2018,D,5.721810e+07,401995,1,4.712819e+07,305170,1,0.823659,0.759139,...,210140,Existing_1,1,5.305491e+07,262268,0.659277,0.801242,166.450267,70927548.79,3.851501e+07

In [98]:
qtr_dat['implied_custs'] = qtr_dat.rec_seg_exp_sales / qtr_dat.d_p_cust
qtr_dat.implied_custs.sum()

3494822.550392436

In [100]:
qtr_dat[['FISCAL_QTR', 'implied_custs']].groupby('FISCAL_QTR').agg('sum')

            implied_custs
FISCAL_QTR
1           844409.801298
2           875244.186943
3           834323.721593
4           940844.840559

In [101]:
qtr_dat.to_pickle('quarter_2019')

In [15]:
omni = year_end_fcst.query('Segment == "_Omni"')
omni

   Channel  Recency   Customer_Type Segment  implied_custs
1        D        0       NTB__Omni   _Omni   20520.120222
5        D        1  Existing__Omni   _Omni  161649.139806
9        D        2     React__Omni   _Omni   40838.961381
3        R        0       NTB__Omni   _Omni   18863.811405
7        R        1  Existing__Omni   _Omni  160016.121752
11       R        2     React__Omni   _Omni   36733.887016

In [16]:
noms = pd.merge(omni, omni, on = 'Recency', how='inner')
noms = noms

In [19]:
noms

,Channel_x,Recency,Customer_Type_x,Segment_x,implied_custs_x,Channel_y,Customer_Type_y,Segment_y,implied_custs_y
0,D,0,NTB__Omni,_Omni,20520.120222,D,NTB__Omni,_Omni,20520.120222
1,D,0,NTB__Omni,_Omni,20520.120222,R,NTB__Omni,_Omni,18863.811405
2,R,0,NTB__Omni,_Omni,18863.811405,D,NTB__Omni,_Omni,20520.120222
3,R,0,NTB__Omni,_Omni,18863.811405,R,NTB__Omni,_Omni,18863.811405
4,D,1,Existing__Omni,_Omni,161649.139806,D,Existing__Omni,_Omni,161649.139806
5,D,1,Existing__Omni,_Omni,161649.139806,R,Existing__Omni,_Omni,160016.121752
6,R,1,Existing__Omni,_Omni,160016.121752,D,Existing__Omni,_Omni,161649.139806
7,R,1,Existing__Omni,_Omni,160016.121752,R,Existing__Omni,_Omni,160016.121752
8,D,2,React__Omni,_Omni,40838.961381,D,React__Omni,_Omni,40838.961381
9,D,2,React__Omni,_Omni,40838.961381,R,React__Omni,_Omni,36733.887016
10,R,2,React__Omni,_Omni,36733.887016,D,React__Omni,_Omni,40838.961381
11,R,2,React__Omni,_Omni,36733.887016,R,React__Omni,_Omni,36733.887016

In [37]:
oms = noms.query('Channel_x != Channel_y').copy()
oms['omni'] = oms.implied_custs_x + oms.implied_custs_y
oms = oms[['Customer_Type_x', 'omni']].copy()
oms = oms.drop_duplicates()

In [38]:
oms.omni.sum()

438622.0415827384

In [40]:
oms.head()

  Customer_Type_x           omni
1       NTB__Omni   39383.931627
5  Existing__Omni  321665.261558
9     React__Omni   77572.848397

In [47]:
melt.rename(columns={'Unnamed: 0':'MASTER_CHANNEL',
                      'Report in thousands.1': 'sales_segment',
                          'Unnamed: 4':'summation_type'
                          }, 
                 inplace=True)

We will do a quick aggregation at this point to confirm that the summations we've applied are working properly. We want to verify that these totals line up with the totals taken from Wes's workbook. The grand total should match the current sales forecast.

In [48]:
sub = melt[melt['summation_type'] == "Actual (TY) / Forecast"]
sub = sub[sub['sales_segment'].isin(['Direct Net Sales', 'Retail Sales (Stores & Concierge)'])]
sub.head()
sub[['MASTER_CHANNEL', 'SALES']].groupby('MASTER_CHANNEL').agg('sum')

                       SALES
MASTER_CHANNEL
Direct          2.782062e+08
RETAIL          4.019490e+08

In [35]:
sub.SALES.sum()

680155158.749575

In [36]:
sub.head()

,MASTER_CHANNEL,sales_segment,summation_type,FISCAL_WK,SALES
54,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,Feb Wk. 1 2019,5476461.31
135,Direct,Direct Net Sales,Actual (TY) / Forecast,Feb Wk. 1 2019,4089837.30
243,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,Feb Wk. 2 2019,4662842.01
324,Direct,Direct Net Sales,Actual (TY) / Forecast,Feb Wk. 2 2019,3747693.15
432,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,Feb Wk. 3 2019,5506713.02

Now the data is formatted appropriately so we are ready to move with the next step. Ultimately we need our forecasts at the monthly level, so our next task is to clean up the `FISCAL_WK` column so that we can use to to create a `FISCAL_MO` column.

In [49]:
sub.FISCAL_WK = sub.FISCAL_WK.str[8:]
sub.FISCAL_WK = sub.FISCAL_WK.str[:2]
sub.FISCAL_WK = sub.FISCAL_WK.str.strip()
sub.head()

,MASTER_CHANNEL,sales_segment,summation_type,FISCAL_WK,SALES
54,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,1,5476461.31
135,Direct,Direct Net Sales,Actual (TY) / Forecast,1,4089837.30
243,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,2,4662842.01
324,Direct,Direct Net Sales,Actual (TY) / Forecast,2,3747693.15
432,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,3,5506713.02

In [50]:
sub.FISCAL_WK.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52'], dtype=object)

In [51]:
h1 = [1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6]
h2 = [x+1 for x in h1]

months = h1 + h2
weeks = list(range(1, 53))

month_map = pd.DataFrame()
month_map['FISCAL_MO'] = months
month_map['FISCAL_WK'] = weeks

month_map.head()

   FISCAL_MO  FISCAL_WK
0          1          1
1          1          2
2          1          3
3          1          4
4          2          5

In [52]:
month_map.shape

(52, 2)

In [53]:
sub.dtypes

MASTER_CHANNEL     object
sales_segment      object
summation_type     object
FISCAL_WK          object
SALES             float64
dtype: object

In [54]:
sub.FISCAL_WK = sub.FISCAL_WK.astype(str).astype(int)
sales_fcst = pd.merge(sub, month_map, on='FISCAL_WK', how='inner')
sales_fcst.head()

,MASTER_CHANNEL,sales_segment,summation_type,FISCAL_WK,SALES,FISCAL_MO
0,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,1,5476461.31,1
1,Direct,Direct Net Sales,Actual (TY) / Forecast,1,4089837.30,1
2,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,2,4662842.01,1
3,Direct,Direct Net Sales,Actual (TY) / Forecast,2,3747693.15,1
4,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,3,5506713.02,1

In [55]:
sales_fcst.head(26)

,MASTER_CHANNEL,sales_segment,summation_type,FISCAL_WK,SALES,FISCAL_MO
0,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,1,5476461.31,1
1,Direct,Direct Net Sales,Actual (TY) / Forecast,1,4089837.30,1
2,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,2,4662842.01,1
3,Direct,Direct Net Sales,Actual (TY) / Forecast,2,3747693.15,1
4,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,3,5506713.02,1
5,Direct,Direct Net Sales,Actual (TY) / Forecast,3,2806510.55,1
6,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,4,7207303.66,1
7,Direct,Direct Net Sales,Actual (TY) / Forecast,4,6487624.60,1
8,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,5,6706428.53,2
9,Direct,Direct Net Sales,Actual (TY) / Forecast,5,4296148.16,2
10,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,6,7941870.71,2
11,Direct,Direct Net Sales,Actual (TY) / Forecast,6,5890494.46,2
12,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,7,7554531.44,2
13,Direct,Direct Net Sales,Actual (TY) / Forecast,7,4033365.10,2
14,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,8,11425941.71,2
15,Direct,Direct Net Sales,Actual (TY) / Forecast,8,8095099.66,2
16,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,9,8066545.67,2
17,Direct,Direct Net Sales,Actual (TY) / Forecast,9,6694000.11,2
18,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,10,9073796.67,3
19,Direct,Direct Net Sales,Actual (TY) / Forecast,10,6312620.78,3
20,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,11,9082973.44,3
21,Direct,Direct Net Sales,Actual (TY) / Forecast,11,4890227.91,3
22,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,12,10140679.57,3
23,Direct,Direct Net Sales,Actual (TY) / Forecast,12,7462844.19,3
24,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,13,9623500.59,3
25,Direct,Direct Net Sales,Actual (TY) / Forecast,13,6121082.82,3

We might want to work with the LY , plan, or other summation types, but for this notebook we are only interested in the `Actual (TY) / Forecast` sales totals. So now we are ready to subset this data to just forecasted sales so we can get to work on building together a customer forecast.

In [58]:
fcst = sales_fcst.query('summation_type == "Actual (TY) / Forecast"')
fcst.head()

,MASTER_CHANNEL,sales_segment,summation_type,FISCAL_WK,SALES,FISCAL_MO
0,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,1,5476461.31,1
1,Direct,Direct Net Sales,Actual (TY) / Forecast,1,4089837.30,1
2,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,2,4662842.01,1
3,Direct,Direct Net Sales,Actual (TY) / Forecast,2,3747693.15,1
4,RETAIL,Retail Sales (Stores & Concierge),Actual (TY) / Forecast,3,5506713.02,1

In [57]:
fcst.shape

(104, 3)